ul {
  display: flex;

}
li{
  display: flex;
  margin-right: 50px;
}
.post {
  display: flex;
  flex-direction: column;
}
.active{
  color: aqua;
}
.pagination {
  display: flex;

}
.pagination button {
  margin-right: 15px;
  margin-left: 15px;
}